
<form action="https://localhost:44363/Home/Login" id="forma">
    <h1>Login</h1>
    <h3 style="color:red">@ViewBag.Message</h3>
    <br>
    <label><b>Korisnicko Ime</b></label>
    <input type="text" placeholder="Unesite Korisnicko Ime" name="kIme" id="kIme" required>
    <br>
    <label for="psw"><b>Lozinka</b></label>
    <input type="password" placeholder="Lozinka" name="lozinka" id="psw" required>

    <button type="submit" >Uloguj se</button>
</form>